<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">

      <ul class="nav nav-tabs" role="tablist">
        <li><a href="/Item">Home</a></li>
        <li><a href="/Book">Books</a></li>
        <li><a href="/Music">Music</a></li>
        <li><a href="/Film">Films</a></li>
        <li><a href="/lookup">Lookup</a></li>
        <li><a href="/Logout">Logout</a></li>
      </ul>
      <p class="navbar-text pull-right">Logged in as: {{username}}</p>
    </div>
  </div>
