<div ng-include="'components/navbar/navbar.html'"></div>
      <h2>
        Book List
      </h2>
<div class="page-header">
<p></p>
</div>


  <div class="row">
    <div class="col-md-2">
      <!--Doing nothing - spacing -->
    </div>
    <div class="col-md-2">
      Search: <input type="text" class="form-control" placeholder="Search Artist" ng-model="search.Artist">
              <input type="text" class="form-control" placeholder="Search Title" ng-model="search.Title">
              <input type="text" class="form-control" placeholder="Search Genre" ng-model="search.Genre"> 
      Sort by: 
      <select ng-model="orderProp">
        <option value="author">Author</option>
        <option value="title">Title</option>
        <option value="genre">Genre</option>
      </select>
    </div>


   <div class="col-md-7">
     <ul  class="books">
        <li ng-repeat="item in items | filter: {artist: search.Artist, format:'Book' } |
          filter: {title: search.Title, format:'Book' } |
          filter: {genre: search.Genre, format:'Book' } |
          orderBy:orderProp" class="thumbnail">
           <a href="/Book/{{item._id}}" class="thumb"><img ng-src="{{item.imageUrl}}"></a>
           <a href="/Book/{{item._id}}"><h4>{{item.title}}</h4></a>
           <p>Author: {{item.artist}}</p>
           <p>Genre: {{item.genre}}</p>
           <p>Description: {{item.snippet}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

